input {
	width: 40px;
};

#timer {
	width: 60px;
	height: 45px;
	line-height: 40px;
	font-size: 40px;
	margin-left: 90px;
	background-color: aquamarine;
	text-align: center;
	margin-bottom: 10px;
}

#start {
	margin: 0 0 30px;
}

body {
	width: 300px;
	margin: 25px auto;
}